Repository Special-Kode/College-and-Deans, pull requests merged in 2021-11, with the labels that each got.

#12 First script hierarchy restructuring
  College and Deans/Assets/Scripts/Camera.meta
  College and Deans/Assets/Scripts/Camera/CameraBetweenRooms.cs
  College and Deans/Assets/Scripts/Camera/CameraBetweenRooms.cs.meta
  College and Deans/Assets/Scripts/RoomGeneration.meta
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs.meta
  College and Deans/Assets/Scripts/RoomGeneration/RoomBehaviour.cs
  College and Deans/Assets/Scripts/RoomGeneration/RoomBehaviour.cs.meta
  College and Deans/Assets/Scripts/RoomGeneration/RoomInfo.cs
  College and Deans/Assets/Scripts/RoomGeneration/RoomInfo.cs.meta
Labels: project structure

#14 Improved room generation method
  College and Deans/Assets/Resources.meta
  College and Deans/Assets/Resources/Rooms.meta
  College and Deans/Assets/Resources/Rooms/Room_BL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_BL_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_B_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_B_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_L_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_L_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_RBL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_RBL_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_RB_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_RB_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_RL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_RL_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_R_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_R_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_TBL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TBL_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_TB_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TB_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_TL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TL_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_TRBL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TRBL_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_TRB_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TRB_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_TRL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TRL_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_TR_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TR_00.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_T_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_T_00.prefab.meta
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
Labels: fix, room generation

#16 Improved passing between rooms
  College and Deans/Assets/Resources/Rooms/Room_BL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_B_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_L_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_RBL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_RB_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_RL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_R_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TBL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TB_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TRBL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TRB_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TRL_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_TR_00.prefab
  College and Deans/Assets/Scripts/DoorBehaviour.cs
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
  College and Deans/Assets/Scripts/RoomGeneration/RoomBehaviour.cs
Labels: fix, camera behaviour

#19 Character sprites update
  College and Deans/Assets/Sprites/CharacterShootingSpriteSheet.png
  College and Deans/Assets/Sprites/CharacterShootingSpriteSheet.png.meta
  College and Deans/Assets/Sprites/CharacterShootingSpriteSheet_big.png
  College and Deans/Assets/Sprites/CharacterShootingSpriteSheet_big.png.meta
  College and Deans/Assets/Sprites/CharacterSpriteSheetGun.png
  College and Deans/Assets/Sprites/CharacterSpriteSheetGun.png.meta
  College and Deans/Assets/Sprites/ChraracterSpriteSheet.png
  College and Deans/Assets/Sprites/ChraracterSpriteSheet.png.meta
  College and Deans/Assets/Sprites/ChraracterSpriteSheet_big.png
  College and Deans/Assets/Sprites/ChraracterSpriteSheet_big.png.meta
  College and Deans/Assets/Sprites/MesaNormal.png.meta
  College and Deans/Assets/Sprites/Mesa_LAB_1.png.meta
  College and Deans/Assets/Sprites/Mesa_LAB_2.png.meta
  College and Deans/Assets/Sprites/Mesa_LAB_3.png.meta
  College and Deans/Assets/Sprites/Mesas_PC_1.png.meta
  College and Deans/Assets/Sprites/Mesas_PC_2.png.meta
  College and Deans/Assets/Sprites/Mesas_PC_3.png.meta
  College and Deans/Assets/Sprites/PersonajeArma.png
  College and Deans/Assets/Sprites/PersonajeDisparando.png
  College and Deans/Assets/Sprites/PersonajeNormal.png
  College and Deans/Assets/Sprites/Pizarra_blanca.png.meta
  College and Deans/Assets/Sprites/Puerta_Boss.png
  College and Deans/Assets/Sprites/Puerta_Boss.png.meta
  College and Deans/Assets/Sprites/Puerta_LAB_1.png
  College and Deans/Assets/Sprites/Puerta_LAB_1.png.meta
  College and Deans/Assets/Sprites/Puerta_LAB_2.png
  College and Deans/Assets/Sprites/Puerta_LAB_2.png.meta
  College and Deans/Assets/Sprites/extintor.png
  College and Deans/Assets/Sprites/extintor.png.meta
  College and Deans/Assets/Sprites/papelera.png.meta
  College and Deans/Assets/Sprites/pizarra.png
  College and Deans/Assets/Sprites/pizarra.png.meta
  College and Deans/Assets/Sprites/pupitre.png.meta
  College and Deans/Assets/Sprites/ventana_l.png
  College and Deans/Assets/Sprites/ventana_l.png.meta
  College and Deans/Assets/Sprites/ventana_l_r.png
  College and Deans/Assets/Sprites/ventana_l_r.png.meta
  College and Deans/Assets/Sprites/ventana_s.png
  College and Deans/Assets/Sprites/ventana_s.png.meta
  College and Deans/Assets/Sprites/ventana_s_r.png
  College and Deans/Assets/Sprites/ventana_s_r.png.meta
Labels: art design, fix

#21 Level transition
  College and Deans/Assets/Animation/Crossfade.controller
  College and Deans/Assets/Animation/Crossfade.controller.meta
  College and Deans/Assets/Animation/Crossfade_End.anim
  College and Deans/Assets/Animation/Crossfade_End.anim.meta
  College and Deans/Assets/Animation/Crossfade_Start.anim
  College and Deans/Assets/Animation/Crossfade_Start.anim.meta
  College and Deans/Assets/Prefabs/LevelLoader.prefab
  College and Deans/Assets/Prefabs/LevelLoader.prefab.meta
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/Collisions.cs
  College and Deans/Assets/Scripts/LevelLoader.cs
  College and Deans/Assets/Scripts/LevelLoader.cs.meta
  College and Deans/Assets/Sprites/PersonajeArma.png.meta
  College and Deans/Assets/Sprites/PersonajeDisparando.png.meta
  College and Deans/Assets/Sprites/PersonajeNormal.png.meta
Labels: enhancement, level transition

#22 Fixed passing between scenes
  College and Deans/Assets/Scripts/Collisions.cs
Labels: fix, level transition

#34 Improved room generation variety
  College and Deans/Assets/Resources/Rooms/Room_01/Room_BL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_B_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_L_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_RBL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_RB_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_RL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_R_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TBL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TB_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TRBL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TRB_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TRL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TR_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_T_01.prefab
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/GameManager.cs
  College and Deans/Assets/Scripts/OtherBehaviours/DoorBehaviour.cs
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
  College and Deans/Assets/Sprites/PersonajeArma.png.meta
  College and Deans/Assets/Sprites/PersonajeNormal.png.meta
Labels: enhancement, room generation

#39 Added several bullet sprites and some item icons
  College and Deans/Assets/Sprites/Bullets.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullet_boss_1.png
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullet_boss_1.png.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullet_enemy_1.png
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullet_enemy_1.png.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullet_enemy_2.png
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullet_enemy_2.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_1.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_1.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_2.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_2.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_3.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_3.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_4.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_4.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_1.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_1.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_2.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_2.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_3.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_3.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_4.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_4.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_5.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_5.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Grenade.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Grenade/player_explosion.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/Grenade/player_explosion.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Grenade/player_grenade.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/Grenade/player_grenade.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/player_standard.png
  College and Deans/Assets/Sprites/Bullets/Player bullets/player_standard.png.meta
  College and Deans/Assets/Sprites/bm_icon_spritesheet.png
  College and Deans/Assets/Sprites/bm_icon_spritesheet.png.meta
Labels: enhancement, art design

#40 New Sprites
  College and Deans/Assets/Sprites/Boss.png
  College and Deans/Assets/Sprites/Boss_Salto.png
  College and Deans/Assets/Sprites/PersonajeDisparando.png
  College and Deans/Assets/Sprites/Personaje_Disparo.png
  College and Deans/Assets/Sprites/Personaje_Idle.png
Labels: art design

#47 Boss 2 sprites created
  College and Deans/Assets/Prefabs/Props/Desk.prefab
  College and Deans/Assets/Prefabs/Props/Lab_Table_1.prefab
  College and Deans/Assets/Prefabs/Props/Lab_Table_2.prefab
  College and Deans/Assets/Prefabs/Props/Lab_Table_3.prefab
  College and Deans/Assets/Prefabs/Props/PC_Table_1.prefab
  College and Deans/Assets/Prefabs/Props/PC_Table_2.prefab
  College and Deans/Assets/Prefabs/Props/Table.prefab
  College and Deans/Assets/Prefabs/Props/Trash.prefab
  College and Deans/Assets/Prefabs/Props/White_Board.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_BL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_B_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_L_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_RBL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_RB_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_RL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_R_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TBL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TB_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TRBL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TRB_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TRL_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TR_01.prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_T_01.prefab
  College and Deans/Assets/Sprites/Boss.png.meta
  College and Deans/Assets/Sprites/Boss2.png
  College and Deans/Assets/Sprites/Boss_Salto.png.meta
  College and Deans/Assets/Sprites/PersonajeDisparando.png.meta
  College and Deans/Assets/Sprites/Personaje_Disparo.png.meta
  College and Deans/Assets/Sprites/Personaje_Idle.png.meta
Labels: level design, art design, fix

#48 Added basic minimap into the game
  College and Deans/Assets/Resources/Minimap.meta
  College and Deans/Assets/Resources/Minimap/Minimap_B.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_B.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_BL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_BL.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_L.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_L.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_R.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_R.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_RB.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_RB.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_RBL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_RBL.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_RL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_RL.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_T.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_T.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_TB.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TB.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_TBL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TBL.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_TL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TL.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_TR.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TR.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_TRB.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TRB.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_TRBL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TRBL.prefab.meta
  College and Deans/Assets/Resources/Minimap/Minimap_TRL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TRL.prefab.meta
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/GameManager.cs
  College and Deans/Assets/Scripts/OtherBehaviours/MinimapRoomBehaviour.cs
  College and Deans/Assets/Scripts/OtherBehaviours/MinimapRoomBehaviour.cs.meta
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
  College and Deans/Assets/Scripts/RoomGeneration/RoomBehaviour.cs
  College and Deans/Assets/Textures.meta
  College and Deans/Assets/Textures/MinimapRenderTexture.renderTexture
  College and Deans/Assets/Textures/MinimapRenderTexture.renderTexture.meta
  College and Deans/ProjectSettings/TagManager.asset
Labels: enhancement, minimap

#49 Creation of credits menu and updating videogame logo
  College and Deans/Assets/Main Menu/Scripts/credits.cs
  College and Deans/Assets/Main Menu/Sprites/Adrian.png
  College and Deans/Assets/Main Menu/Sprites/Adrian.png.meta
  College and Deans/Assets/Main Menu/Sprites/Alejandro.png
  College and Deans/Assets/Main Menu/Sprites/Alejandro.png.meta
  College and Deans/Assets/Main Menu/Sprites/Aless.png
  College and Deans/Assets/Main Menu/Sprites/Aless.png.meta
  College and Deans/Assets/Main Menu/Sprites/Borja.png
  College and Deans/Assets/Main Menu/Sprites/Borja.png.meta
  College and Deans/Assets/Main Menu/Sprites/College and Deans.png
  College and Deans/Assets/Main Menu/Sprites/College and Deans.png.meta
  College and Deans/Assets/Main Menu/Sprites/David.png
  College and Deans/Assets/Main Menu/Sprites/David.png.meta
  College and Deans/Assets/Main Menu/Sprites/Jonas.png
  College and Deans/Assets/Main Menu/Sprites/Jonas.png.meta
  College and Deans/Assets/Main Menu/Sprites/Mario.png
  College and Deans/Assets/Main Menu/Sprites/Mario.png.meta
  College and Deans/Assets/Scenes/MainMenu.unity
Labels: art design, fix, menu

#54 Creation of Pause Menu
  College and Deans/Assets/Main Menu/Sprites/Home.png
  College and Deans/Assets/Main Menu/Sprites/Home.png.meta
  College and Deans/Assets/Main Menu/Sprites/Pausa.png
  College and Deans/Assets/Main Menu/Sprites/Pausa.png.meta
  College and Deans/Assets/Main Menu/Sprites/Play.png
  College and Deans/Assets/Main Menu/Sprites/Play.png.meta
  College and Deans/Assets/Scenes/MainMenu.unity
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/PauseMenu.cs
  College and Deans/Assets/Scripts/PauseMenu.cs.meta
  College and Deans/Assets/Scripts/PlayerMechanics/AnimatorPlayerScript.cs
  College and Deans/ProjectSettings/TimelineSettings.asset
  College and Deans/UserSettings/EditorUserSettings.asset
Labels: enhancement, art design, menu

#56 Modifiers improved
  College and Deans/Assets/AnimationControllers/PlayerController.controller
  College and Deans/Assets/Prefabs/Bomb.prefab
  College and Deans/Assets/Prefabs/Bullet.prefab
  College and Deans/Assets/Prefabs/SimpleWave.prefab
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/OtherBehaviours/Collisions.cs
  College and Deans/Assets/Scripts/PlayerMechanics/AnimatorPlayerScript.cs
  College and Deans/Assets/Scripts/PlayerMechanics/AttackBehaviour.cs
  College and Deans/Assets/Scripts/PlayerMechanics/Modifiers.cs
  College and Deans/Assets/Scripts/RoomGeneration/RoomBehaviour.cs
  College and Deans/Assets/Sprites/Bullets/Player bullets/Grenade/player_explosion.png.meta
  College and Deans/Assets/Sprites/PlayerAnimations/PlayerWalkingRight.anim
  College and Deans/ProjectSettings/Physics2DSettings.asset
  College and Deans/ProjectSettings/TagManager.asset
Labels: player control

#59 Fixed bug in room generation
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
Labels: fix, room generation

#60 Bringing fixed bug from main
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
Labels: fix, project structure

#65 02 rooms navmesh compatibility
  College and Deans/Assets/Prefabs/Props/White_Board.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_BL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_B_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_L_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_RBL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_RB_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_RL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_R_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TBL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TB_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TRBL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TRB_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TRL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TR_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_T_02.prefab
  College and Deans/Assets/Sprites/Pizarra_blanca.png
Labels: level design, art design, fix

#66 Navmesh compatibility for 03 rooms
  College and Deans/Assets/Resources/Rooms/Room_02/Room_BL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_B_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_L_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_RBL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_RB_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_RL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_R_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TBL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TB_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TRBL_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TRB_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_TR_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_02/Room_T_02.prefab
  College and Deans/Assets/Resources/Rooms/Room_03.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_BL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_BL_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_B_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_B_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_L_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_L_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_RBL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_RBL_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_RB_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_RB_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_RL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_RL_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_R_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_R_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TBL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TBL_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TB_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TB_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TL_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TRBL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TRBL_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TRB_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TRB_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TRL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TRL_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TR_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TR_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_03/Room_T_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_T_03.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_10/Room_TRBL_10.prefab
Labels: level design

#71 Added enhancers
  College and Deans/Assets/Resources/ConsumableItems.meta
  College and Deans/Assets/Resources/ConsumableItems/Enhancer.prefab
  College and Deans/Assets/Resources/ConsumableItems/Enhancer.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TRBL_01.prefab
  College and Deans/Assets/Resources/ScriptableObjects.meta
  College and Deans/Assets/Resources/ScriptableObjects/BadPlanning.asset
  College and Deans/Assets/Resources/ScriptableObjects/BadPlanning.asset.meta
  College and Deans/Assets/Resources/ScriptableObjects/GoodPlanning.asset
  College and Deans/Assets/Resources/ScriptableObjects/GoodPlanning.asset.meta
  College and Deans/Assets/Resources/ScriptableObjects/Pressonesso.asset
  College and Deans/Assets/Resources/ScriptableObjects/Pressonesso.asset.meta
  College and Deans/Assets/Resources/ScriptableObjects/StayUpLate.asset
  College and Deans/Assets/Resources/ScriptableObjects/StayUpLate.asset.meta
  College and Deans/Assets/Resources/ScriptableObjects/Ualuim.asset
  College and Deans/Assets/Resources/ScriptableObjects/Ualuim.asset.meta
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/Items.meta
  College and Deans/Assets/Scripts/Items/ConsumableItem.cs
  College and Deans/Assets/Scripts/Items/ConsumableItem.cs.meta
  College and Deans/Assets/Scripts/Items/Enhancer.cs
  College and Deans/Assets/Scripts/Items/Enhancer.cs.meta
  College and Deans/Assets/Scripts/OtherBehaviours/BarAnimationScript.cs
  College and Deans/Assets/Scripts/PlayerMechanics/ExternMechanicsPlayer.cs
  College and Deans/Assets/Scripts/RoomGeneration/RoomBehaviour.cs
  College and Deans/Assets/Sprites/bm_icon_spritesheet.png.meta
Labels: enhancement, items

#73 Fixed bugs in main
  College and Deans/Assets/Resources/Rooms/Room_01/Room_TRBL_01.prefab
  College and Deans/Assets/Scripts/OtherBehaviours/EnemyGenerator.cs
  College and Deans/Assets/Sprites/Boss2_Bofetada.png.meta
  College and Deans/Assets/Sprites/Boss2_Embestida.png.meta
  College and Deans/Assets/Sprites/Boss_Disparo.png.meta
  College and Deans/Assets/Sprites/Distancia1_Ataque.png.meta
  College and Deans/Assets/Sprites/Distancia2_Ataque.png.meta
  College and Deans/Assets/Sprites/Melee1_Ataque.png.meta
  College and Deans/Assets/Sprites/Melee2_Ataque.png.meta
Labels: fix, npc behaviour, room generation

#75 Updating Credits Label
  College and Deans/Assets/Main Menu/Scripts/credits.cs
  College and Deans/Assets/Main Menu/Scripts/options.cs
  College and Deans/Assets/Main Menu/Scripts/skill.cs
  College and Deans/Assets/Main Menu/Scripts/skill.cs.meta
  College and Deans/Assets/Main Menu/Sprites/Atras.png
  College and Deans/Assets/Main Menu/Sprites/Atras.png.meta
  College and Deans/Assets/Main Menu/Sprites/Cerrar.png
  College and Deans/Assets/Main Menu/Sprites/Cerrar.png.meta
  College and Deans/Assets/Scenes/MainMenu.unity
Labels: art design, fix, menu

#78 Added speed enhancers
  College and Deans/Assets/Scripts/Items/ConsumableItem.cs
  College and Deans/Assets/Scripts/OtherBehaviours/BarAnimationScript.cs
  College and Deans/Assets/Scripts/OtherBehaviours/Collisions.cs
  College and Deans/Assets/Scripts/PlayerMechanics/ExternMechanicsPlayer.cs
  College and Deans/Assets/Scripts/PlayerMechanics/Movement.cs
  College and Deans/Assets/Scripts/PlayerMechanics/Weapon.cs
  College and Deans/UserSettings/EditorUserSettings.asset
Labels: enhancement, items

#80 Fixed bug with damageMultiplier
  College and Deans/Assets/Prefabs/Bomb.prefab
  College and Deans/Assets/Prefabs/Bullet.prefab
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/Enemy/Enemy.cs
  College and Deans/Assets/Scripts/OtherBehaviours/Collisions.cs
  College and Deans/Assets/Scripts/PlayerMechanics/AttackBehaviour.cs
  College and Deans/Assets/Scripts/PlayerMechanics/Weapon.cs
  College and Deans/Assets/Sprites/Bullets/Player bullets/Grenade/player_grenade.png.meta
Labels: fix, items

#81 Fixed room prefab
  College and Deans/Assets/Resources/Rooms/Room_01/Room_T_01.prefab
Labels: fix, room generation

#83 Added navmesh compatibility to 04, 05 and 06 rooms
  College and Deans/Assets/Resources/Rooms/Room_04.meta
  College and Deans/Assets/Resources/Rooms/Room_04/Room_BL_04.prefab
  College and Deans/Assets/Resources/Rooms/Room_04/Room_BL_04.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_04/Room_B_04.prefab
  College and Deans/Assets/Resources/Rooms/Room_04/Room_B_04.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_04/Room_L_04.prefab
  College and Deans/Assets/Resources/Rooms/Room_04/Room_L_04.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_04/Room_RB_04.prefab
  College and Deans/Assets/Resources/Rooms/Room_04/Room_RB_04.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_04/Room_RL_04.prefab
  College and Deans/Assets/Resources/Rooms/Room_04/Room_RL_04.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_04/Room_R_04.prefab
  College and Deans/Assets/Resources/Rooms/Room_04/Room_R_04.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_04/Room_TB_04.prefab
  College and Deans/Assets/Resources/Rooms/Room_04/Room_TB_04.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_04/Room_TL_04.prefab
  College and Deans/Assets/Resources/Rooms/Room_04/Room_TL_04.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_04/Room_TRBL_04.prefab
  College and Deans/Assets/Resources/Rooms/Room_04/Room_TRBL_04.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_04/Room_TR_04.prefab
  College and Deans/Assets/Resources/Rooms/Room_04/Room_TR_04.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_04/Room_T_04.prefab
  College and Deans/Assets/Resources/Rooms/Room_04/Room_T_04.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_05.meta
  College and Deans/Assets/Resources/Rooms/Room_05/Room_B_05.prefab
  College and Deans/Assets/Resources/Rooms/Room_05/Room_B_05.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_05/Room_L_05.prefab
  College and Deans/Assets/Resources/Rooms/Room_05/Room_L_05.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_05/Room_RL_05.prefab
  College and Deans/Assets/Resources/Rooms/Room_05/Room_RL_05.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_05/Room_R_05.prefab
  College and Deans/Assets/Resources/Rooms/Room_05/Room_R_05.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_05/Room_TB_05.prefab
  College and Deans/Assets/Resources/Rooms/Room_05/Room_TB_05.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_05/Room_TRBL_05.prefab
  College and Deans/Assets/Resources/Rooms/Room_05/Room_TRBL_05.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_05/Room_T_05.prefab
  College and Deans/Assets/Resources/Rooms/Room_05/Room_T_05.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_06.meta
  College and Deans/Assets/Resources/Rooms/Room_06/Room_RL_06.prefab
  College and Deans/Assets/Resources/Rooms/Room_06/Room_RL_06.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_06/Room_TB_06.prefab
  College and Deans/Assets/Resources/Rooms/Room_06/Room_TB_06.prefab.meta
  College and Deans/Assets/Resources/Rooms/Room_14.meta
  College and Deans/Assets/Resources/Rooms/Room_15.meta
Labels: enhancement, level design, fix, project structure

#84 Added sprites for boss3 and its attacks. Also added stairs.
  College and Deans/Assets/Prefabs/Props/Desk.prefab
  College and Deans/Assets/Prefabs/Props/Lab_Table_1.prefab
  College and Deans/Assets/Prefabs/Props/Lab_Table_2.prefab
  College and Deans/Assets/Prefabs/Props/Lab_Table_3.prefab
  College and Deans/Assets/Prefabs/Props/PC_Table_1.prefab
  College and Deans/Assets/Prefabs/Props/PC_Table_2.prefab
  College and Deans/Assets/Prefabs/Props/Stairs_up.prefab
  College and Deans/Assets/Prefabs/Props/Stairs_up.prefab.meta
  College and Deans/Assets/Prefabs/Props/White_Board.prefab
  College and Deans/Assets/Sprites/Boss3.png
  College and Deans/Assets/Sprites/Boss3.png.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_1.png
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_1.png.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_2.png
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_2.png.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_3.png
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_3.png.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_4.png
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_4.png.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_5.png
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_5.png.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_6.png
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a1_6.png.meta
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a2.png
  College and Deans/Assets/Sprites/Bullets/Enemy bullets/bullets_boss_3/bboss3_a2.png.meta
  College and Deans/Assets/Sprites/bar_up.png
  College and Deans/Assets/Sprites/bar_up.png.meta
  College and Deans/Assets/Sprites/stairs_up.png
  College and Deans/Assets/Sprites/stairs_up.png.meta
Labels: enhancement, art design

#86 Fixing language change error
  College and Deans/Assets/Scenes/MainMenu.unity
Labels: fix, menu

#88 [MERGE] Updating project for avoiding problems
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/PlayerMechanics/AnimatorPlayerScript.cs
Labels: project structure

#89 Fixed bugs
  College and Deans/Assets/Scenes/Interlude.unity
  College and Deans/Assets/Scripts/PauseMenu.cs
  College and Deans/UserSettings/EditorUserSettings.asset
Labels: fix, menu, project structure, level transition

#90 Fixed bug: enemies dying when shooting
  College and Deans/Assets/Scripts/Enemy/Enemy.cs
  College and Deans/Assets/Scripts/OtherBehaviours/Collisions.cs
Labels: fix, npc behaviour

#94 Post game screen
  College and Deans/Assets/Main Menu/Sprites/Derrota.png
  College and Deans/Assets/Main Menu/Sprites/Derrota.png.meta
  College and Deans/Assets/Main Menu/Sprites/Victoria.png
  College and Deans/Assets/Main Menu/Sprites/Victoria.png.meta
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/PlayerMechanics/ExternMechanicsPlayer.cs
  College and Deans/Assets/Scripts/ResultsMenu.cs
  College and Deans/Assets/Scripts/ResultsMenu.cs.meta
  College and Deans/UserSettings/EditorUserSettings.asset
Labels: enhancement, menu, level transition

#95 Fixed can escape from boss room
  College and Deans/Assets/Prefabs/Bullet.prefab
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/OtherBehaviours/EnemyGenerator.cs
Labels: fix, npc behaviour, room generation

#97 Added tutorial spawn room
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TR.prefab
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
Labels: enhancement, room generation

#99 Added basic winning logic
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/GameManager.cs
  College and Deans/Assets/Scripts/OtherBehaviours/LevelLoader.cs
  College and Deans/Assets/Scripts/ResultsMenu.cs
Labels: enhancement, game loop

#100 Standard boss room
  College and Deans/Assets/Resources/Rooms/Room_Boss.meta
  College and Deans/Assets/Resources/Rooms/Room_Boss/Room_Boss_00.prefab
  College and Deans/Assets/Resources/Rooms/Room_Boss/Room_Boss_00.prefab.meta
Labels: enhancement, level design

#101 Fixed bug when level did not restart
  College and Deans/Assets/Scripts/Enemy/Enemy.cs
  College and Deans/Assets/Scripts/GameManager.cs
  College and Deans/Assets/Scripts/PauseMenu.cs
Labels: fix, level transition, game loop

#109 Added spawning modifiers on cafe rooms
  College and Deans/Assets/Resources/ConsumableItems/Modifier.prefab
  College and Deans/Assets/Resources/ConsumableItems/Modifier.prefab.meta
  College and Deans/Assets/Resources/Items.meta
  College and Deans/Assets/Resources/Items/Enhancers.meta
  College and Deans/Assets/Resources/Items/Enhancers/BadPlanning.asset
  College and Deans/Assets/Resources/Items/Enhancers/BadPlanning.asset.meta
  College and Deans/Assets/Resources/Items/Enhancers/GoodPlanning.asset
  College and Deans/Assets/Resources/Items/Enhancers/GoodPlanning.asset.meta
  College and Deans/Assets/Resources/Items/Enhancers/Pressonesso.asset
  College and Deans/Assets/Resources/Items/Enhancers/Pressonesso.asset.meta
  College and Deans/Assets/Resources/Items/Enhancers/StayUpLate.asset
  College and Deans/Assets/Resources/Items/Enhancers/StayUpLate.asset.meta
  College and Deans/Assets/Resources/Items/Enhancers/Ualium.asset
  College and Deans/Assets/Resources/Items/Enhancers/Ualium.asset.meta
  College and Deans/Assets/Resources/Items/Modifiers.meta
  College and Deans/Assets/Resources/Items/Modifiers/DoubleBarrel.asset
  College and Deans/Assets/Resources/Items/Modifiers/DoubleBarrel.asset.meta
  College and Deans/Assets/Resources/Items/Modifiers/Macrowave.asset
  College and Deans/Assets/Resources/Items/Modifiers/Macrowave.asset.meta
  College and Deans/Assets/Resources/Items/Modifiers/Problemsolver.asset
  College and Deans/Assets/Resources/Items/Modifiers/Problemsolver.asset.meta
  College and Deans/Assets/Resources/Items/Modifiers/Stomper.asset
  College and Deans/Assets/Resources/Items/Modifiers/Stomper.asset.meta
  College and Deans/Assets/Scripts/Items/ConsumableItem.cs
  College and Deans/Assets/Scripts/Items/Modifier.cs
  College and Deans/Assets/Scripts/Items/Modifier.cs.meta
  College and Deans/Assets/Scripts/Items/ModifierItem.cs
  College and Deans/Assets/Scripts/Items/ModifierItem.cs.meta
  College and Deans/Assets/Scripts/PlayerMechanics/ExternMechanicsPlayer.cs
  College and Deans/Assets/Scripts/RoomGeneration/RoomBehaviour.cs
Labels: enhancement, items

#110 Improved health UI
  College and Deans/Assets/Prefabs/Canvas.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_B.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_BL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_L.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_R.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_RB.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_RBL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_RL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_T.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TB.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TBL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TR.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TRB.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TRBL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TRL.prefab
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/OtherBehaviours/BarAnimationScript.cs
  College and Deans/Assets/Scripts/PlayerMechanics/ExternMechanicsPlayer.cs
  College and Deans/Assets/Sprites/UI.meta
  College and Deans/Assets/Sprites/UI/ClockUI.png
  College and Deans/Assets/Sprites/UI/ClockUI.png.meta
  College and Deans/Assets/Sprites/UI/HealthBarPlaceholder.png
  College and Deans/Assets/Sprites/UI/HealthBarPlaceholder.png.meta
  Concept Art and GDD/Assets/ClockUI.psd
Labels: enhancement, art design, UI

#111 Bug on berserk items
  College and Deans/Assets/Prefabs/Canvas.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_B.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_BL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_L.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_R.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_RB.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_RBL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_RL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_T.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TB.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TBL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TR.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TRB.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TRBL.prefab
  College and Deans/Assets/Resources/Rooms/Room_Start/Start_TRL.prefab
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/OtherBehaviours/BarAnimationScript.cs
  College and Deans/Assets/Scripts/PlayerMechanics/AttackBehaviour.cs
  College and Deans/Assets/Scripts/PlayerMechanics/ExternMechanicsPlayer.cs
  College and Deans/Assets/Sprites/UI.meta
  College and Deans/Assets/Sprites/UI/ClockUI.png
  College and Deans/Assets/Sprites/UI/ClockUI.png.meta
  College and Deans/Assets/Sprites/UI/HealthBarPlaceholder.png
  College and Deans/Assets/Sprites/UI/HealthBarPlaceholder.png.meta
  Concept Art and GDD/Assets/ClockUI.psd
Labels: bug, player control, items

#112 Fixed bug berserk items not scaling damage
  College and Deans/Assets/Scripts/Items/ConsumableItem.cs
  College and Deans/Assets/Scripts/Items/ModifierItem.cs
  College and Deans/Assets/Scripts/PlayerMechanics/AnimatorPlayerScript.cs
  College and Deans/Assets/Scripts/PlayerMechanics/Modifiers.cs
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_1.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_2.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_3.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_4.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_1.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_2.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_3.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_4.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_5.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Grenade/player_grenade.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/player_standard.png.meta
Labels: fix, player control, items

#113 Fixing bug UI showing negative health
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/Items/ConsumableItem.cs
  College and Deans/Assets/Scripts/Items/ModifierItem.cs
  College and Deans/Assets/Scripts/PlayerMechanics/AnimatorPlayerScript.cs
  College and Deans/Assets/Scripts/PlayerMechanics/Modifiers.cs
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_1.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_2.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_3.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/360 wave/player_360w_4.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_1.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_2.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_3.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_4.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Focused wave/player_fw_5.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/Grenade/player_grenade.png.meta
  College and Deans/Assets/Sprites/Bullets/Player bullets/player_standard.png.meta
Labels: bug, UI

#114 Fixed bug UI showing negative health
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/PlayerMechanics/ExternMechanicsPlayer.cs
Labels: fix, UI

#119 Improved room generation
  College and Deans/Assets/Resources/Rooms/Room_03/Room_BL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_B_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_L_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_RBL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_RB_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_RL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_R_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TBL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TB_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TRBL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TRB_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TRL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TR_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_T_03.prefab
  College and Deans/Assets/Scripts/OtherBehaviours/EnemyGenerator.cs
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
Labels: enhancement, fix, room generation

#123 Fixed rooms
  College and Deans/Assets/Resources/Rooms/Room_03/Room_RBL_03.prefab
  College and Deans/Assets/Resources/Rooms/Room_03/Room_TL_03.prefab
Labels: fix, room generation

#125 Improved dungeon generator manager
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
  College and Deans/Assets/Scripts/RoomGeneration/RoomBehaviour.cs
  College and Deans/Assets/Scripts/RoomGeneration/StairsBehaviour.cs
  College and Deans/Assets/Scripts/RoomGeneration/StairsBehaviour.cs.meta
Labels: enhancement, room generation

#129 Added stairs rooms and behaviour
  College and Deans/Assets/Prefabs/Props/Stairs_up.prefab
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/OtherBehaviours/MinimapRoomBehaviour.cs
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
  College and Deans/Assets/Scripts/RoomGeneration/StairsBehaviour.cs
Labels: enhancement, room generation

#134 Translate options in all the scenes
  College and Deans/Assets/Main Menu/Scripts/credits.cs
  College and Deans/Assets/Main Menu/Scripts/options.cs
  College and Deans/Assets/Main Menu/Scripts/play.cs
  College and Deans/Assets/Main Menu/Scripts/skill.cs
  College and Deans/Assets/Scenes/Interlude.unity
  College and Deans/Assets/Scenes/MainMenu.unity
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/LanguageManager.cs
  College and Deans/Assets/Scripts/LanguageManager.cs.meta
  College and Deans/Assets/Scripts/OtherBehaviours/LevelTextBehaviour.cs
  College and Deans/Assets/Scripts/PauseMenu.cs
  College and Deans/Assets/Scripts/PlayerMechanics/ExternMechanicsPlayer.cs
  College and Deans/Assets/Scripts/ResultsMenu.cs
  College and Deans/UserSettings/EditorUserSettings.asset
Labels: enhancement, fix, menu, UI

#135 Main to adjustment
  College and Deans/Assets/Main Menu/Scripts/credits.cs
  College and Deans/Assets/Main Menu/Scripts/options.cs
  College and Deans/Assets/Main Menu/Scripts/play.cs
  College and Deans/Assets/Main Menu/Scripts/skill.cs
  College and Deans/Assets/Prefabs/Enemy_Melee_2.prefab
  College and Deans/Assets/Scenes/Interlude.unity
  College and Deans/Assets/Scenes/MainMenu.unity
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/Enemy/EnemyAI.cs
  College and Deans/Assets/Scripts/LanguageManager.cs
  College and Deans/Assets/Scripts/LanguageManager.cs.meta
  College and Deans/Assets/Scripts/OtherBehaviours/LevelTextBehaviour.cs
  College and Deans/Assets/Scripts/PauseMenu.cs
  College and Deans/Assets/Scripts/PlayerMechanics/ExternMechanicsPlayer.cs
  College and Deans/Assets/Scripts/ResultsMenu.cs
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyDistancia/Enemigo_Distancia_1_AttackingDown.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyDistancia/Enemigo_Distancia_1_AttackingLeft.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyDistancia/Enemigo_Distancia_1_AttackingRight.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyDistancia/Enemigo_Distancia_1_AttackingUp.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyDistancia/Enemy 1.controller
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyDistancia2/AnimatorED2.controller
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyDistancia2/D2_AttackingDown.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyDistancia2/D2_AttackingLeft.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyDistancia2/D2_AttackingRight.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyDistancia2/D2_AttackingUp.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyMelee/Enemy 0.controller
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyMelee/M1_AttackingDown.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyMelee/M1_AttackingLeft.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyMelee/M1_AttackingRight.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyMelee/M1_AttackingUp.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyMelee2/EM2_AnimController.controller
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyMelee2/M2_AttackingDown.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyMelee2/M2_AttackingLeft.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyMelee2/M2_AttackingRight.anim
  College and Deans/Assets/Sprites/EnemyAnimations/EnemyMelee2/M2_AttackingUp.anim
  College and Deans/UserSettings/EditorUserSettings.asset
  README.md
Labels: fix

#139 Bugs fixed
  College and Deans/Assets/Prefabs/Boss Bullet.prefab
  College and Deans/Assets/Prefabs/Enemy Bullet 2.prefab
  College and Deans/Assets/Prefabs/Enemy Bullet.prefab
  College and Deans/Assets/Prefabs/Player.prefab
  College and Deans/Assets/Scripts/Enemy/EnemyAI.cs
  College and Deans/Assets/Scripts/OtherBehaviours/Collisions.cs
  College and Deans/Assets/Scripts/PlayerMechanics/Movement.cs
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
Labels: bug, fix

#141 Adding SFX and fixed bug
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/PlayerMechanics/AttackBehaviour.cs
  College and Deans/Assets/Scripts/PlayerMechanics/ExternMechanicsPlayer.cs
  College and Deans/Assets/Scripts/SFXManager.cs
  College and Deans/Assets/Sounds/Wave.wav
  College and Deans/Assets/Sounds/Wave.wav.meta
Labels: enhancement, fix, sound & music

#142 Updated boss generation method
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/OtherBehaviours/EnemyGenerator.cs
Labels: fix, room generation

#145 Added modifier persistancy between rooms
  College and Deans/Assets/Scripts/Managers/StatsManager.cs
  College and Deans/Assets/Scripts/PlayerMechanics/AnimatorPlayerScript.cs
Labels: enhancement, level transition, items

#146 Fixed bug with language
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/ResultsMenu.cs
Labels: fix, UI

#161 Added minimap rendering adjacent rooms
  College and Deans/Assets/Scripts/OtherBehaviours/MinimapRoomBehaviour.cs
  College and Deans/Assets/Scripts/RoomGeneration/DungeonGeneratorManager.cs
  College and Deans/Assets/Scripts/RoomGeneration/RoomBehaviour.cs
Labels: enhancement, minimap

#162 Added minimap icons
  College and Deans/Assets/Resources/Minimap/MinimapIcons.meta
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapBoss.png
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapBoss.png.meta
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapCafe.png
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapCafe.png.meta
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapIcon.prefab
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapIcon.prefab.meta
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapLoot.png
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapLoot.png.meta
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapSpawn.png
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapSpawn.png.meta
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapStairs.png
  College and Deans/Assets/Resources/Minimap/MinimapIcons/MinimapStairs.png.meta
  College and Deans/Assets/Resources/Minimap/Minimap_B.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_BL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_L.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_R.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_RB.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_RBL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_RL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_T.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TB.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TBL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TR.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TRB.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TRBL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TRL.prefab
  College and Deans/Assets/Scenes/SampleScene.unity
  College and Deans/Assets/Scripts/OtherBehaviours/MinimapRoomBehaviour.cs
Labels: enhancement, minimap

#163 Improved minimap visibility
  College and Deans/Assets/Resources/Minimap/Minimap_B.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_BL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_L.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_R.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_RB.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_RBL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_RL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_T.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TB.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TBL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TR.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TRB.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TRBL.prefab
  College and Deans/Assets/Resources/Minimap/Minimap_TRL.prefab
  College and Deans/Assets/Scripts/OtherBehaviours/MinimapRoomBehaviour.cs
Labels: enhancement, minimap

#164 Fixed tilemap tearing
  College and Deans/Assets/Sprites/SpriteAtlas.spriteatlas
  College and Deans/Assets/Sprites/SpriteAtlas.spriteatlas.meta
Labels: level design, fix

#165 Fixed level text overlapping pause menu
  College and Deans/Assets/Scenes/SampleScene.unity
Labels: fix, menu, UI

#166 Fixed player can move when is dead
  College and Deans/Assets/Scripts/OtherBehaviours/GameLoader.cs
  College and Deans/Assets/Scripts/OtherBehaviours/LevelLoader.cs
  College and Deans/Assets/Scripts/PlayerMechanics/AnimatorPlayerScript.cs
  College and Deans/Assets/Scripts/PlayerMechanics/ExternMechanicsPlayer.cs
  College and Deans/UserSettings/EditorUserSettings.asset
Labels: fix, player control, game loop

#167 Fixed player getting stucked with stairs up
  College and Deans/Assets/Prefabs/Props/Stairs_up.prefab
  College and Deans/UserSettings/EditorUserSettings.asset
Labels: level design, fix, player control
